.decorative-figures {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.figure {
  position: absolute;
  opacity: 0.6;
  animation: float 6s ease-in-out infinite;
}

.figure-cloud-1 {
  top: 10%;
  left: 5%;
  width: 120px;
  animation-delay: 0s;
}

.figure-cloud-2 {
  top: 20%;
  right: 10%;
  width: 100px;
  animation-delay: 2s;
}

.figure-star-1 {
  top: 15%;
  right: 20%;
  width: 40px;
  animation-delay: 1s;
}

.figure-star-2 {
  bottom: 20%;
  left: 15%;
  width: 35px;
  animation-delay: 3s;
}

.figure-heart-1 {
  top: 60%;
  right: 5%;
  width: 50px;
  animation-delay: 1.5s;
}

.figure-flower-1 {
  bottom: 15%;
  right: 25%;
  width: 60px;
  animation-delay: 2.5s;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
}

@media (max-width: 768px) {
  .figure {
    width: 60px !important;
    opacity: 0.4;
  }
}

